* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden !important;
  color: inherit;
  &.active {
    overflow-y: hidden;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1260px;
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}
