$blackColor: rgba(28, 25, 23, 1);
$whiteColor: #FFFFFF;
$grayColor: rgba(141, 140, 139, 1);
$greenBg: rgba(192, 228, 68, 1);
$blackBg: rgba(28, 25, 23, 1);
$whiteBg: rgba(242, 243, 247, 1);
$darkWhiteBG: #F2F3F7;
$borderRadius: 100px;
$borderRad70: 70px;
$transition: .5s;