$blackColor: rgba(28, 25, 23, 1);
$whiteColor: #ffffff;
$grayColor: rgba(141, 140, 139, 1);
$greenBg: rgba(192, 228, 68, 1);
$blackBg: rgba(28, 25, 23, 1);
$whiteBg: rgba(242, 243, 247, 1);
$darkWhiteBG: #f2f3f7;
$borderRadius: 100px;
$borderRad70: 70px;
$transition: 0.5s;

// calc( 37px + 13 * ((100vw - 320px) / 1120) );
